# Recurrent Capsule Network for Yelp Polarity Dataset

## Load Train and Test Data

In [0]:
!pip install -U -q PyDrive

import tarfile

# HERE YOUR FILE ID ( GET IT WITH THE SHARING URL: https://drive.google.com/open?id=1Soh3zXLXt2lT7b_3FcWWyeOCC7SnOxK0 )
zip_id = '0Bz8a_Dbh9QhbNUpYQ2N3SGlFaDg'
# https://drive.google.com/file/d/0Bz8a_Dbh9QhbNUpYQ2N3SGlFaDg/view?usp=sharing

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import zipfile, os

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# DOWNLOAD ZIP
print ("Downloading zip file")
myzip = drive.CreateFile({'id': zip_id})
myzip.GetContentFile('yelp_polarity_review_csv.tar.gz')

Downloading zip file

In [0]:
!tar -xzf yelp_polarity_review_csv.tar.gz

In [0]:
import os
os.listdir('/content/yelp_review_polarity_csv/')

['readme.txt', 'train.csv', 'test.csv']

In [0]:
!rm yelp_polarity_review_csv.tar.gz

In [0]:
import pandas as pd
train_df = pd.read_csv('/content/yelp_review_polarity_csv/train.csv', header=None)
test_df = pd.read_csv('/content/yelp_review_polarity_csv/test.csv', header=None)
train_df.columns = ['out', 'text'] 
test_df.columns = ['out', 'text'] 
train_df.head()

   out                                               text
0    1  Unfortunately, the frustration of being Dr. Go...
1    2  Been going to Dr. Goldberg for over 10 years. ...
2    1  I don't know what Dr. Goldberg was like before...
3    1  I'm writing this review to give you a heads up...
4    2  All the food is great here. But the best thing...

In [0]:
train_df['out'].unique()

array([1, 2])

In [0]:
train_df.loc[2]

out                                                     1
text    I don't know what Dr. Goldberg was like before...
Name: 2, dtype: object

In [0]:
test_df.head()

   out                                               text
0    2  Contrary to other reviews, I have zero complai...
1    1  Last summer I had an appointment to get new ti...
2    2  Friendly staff, same starbucks fair you get an...
3    1  The food is good. Unfortunately the service is...
4    2  Even when we didn't have a car Filene's Baseme...

In [0]:
test_df.shape, train_df.shape

((38000, 2), (560000, 2))

In [0]:
import keras
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing, model_selection, metrics
import warnings
warnings.filterwarnings('ignore')
from keras.callbacks import EarlyStopping,ModelCheckpoint
from keras.optimizers import Adam

import os
from keras.layers import Dense,Input,LSTM,Bidirectional,Activation,Conv1D,GRU
from keras.callbacks import Callback
from keras.layers import Dropout,Embedding,GlobalMaxPooling1D, MaxPooling1D, Add, Flatten
from keras.preprocessing import text, sequence
from keras.layers import GlobalAveragePooling1D, GlobalMaxPooling1D, concatenate, SpatialDropout1D
from keras import initializers, regularizers, constraints, optimizers, layers, callbacks
from keras.callbacks import EarlyStopping,ModelCheckpoint
from keras.models import Model
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

%matplotlib inline

Using TensorFlow backend.

In [0]:
from keras import backend as K
from keras.engine.topology import Layer
from keras import initializers, regularizers, constraints

EMBEDDING_FILE='/content/datalab/glove.840B.300d.txt'

MAX_SEQUENCE_LENGTH = 150
MAX_NB_WORDS = 100000
EMBEDDING_DIM = 300
VALIDATION_SPLIT = 0.1

num_lstm = 300
num_dense = 256
rate_drop_lstm = 0.2
rate_drop_dense = 0.2

act = 'relu'

In [0]:
def cleanData(text, stemming = False, lemmatize=False):    
    text = text.lower().split()
    text = " ".join(text)
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+\-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    if stemming:
        st = PorterStemmer()
        txt = " ".join([st.stem(w) for w in text.split()])
    if lemmatize:
        wordnet_lemmatizer = WordNetLemmatizer()
        txt = " ".join([wordnet_lemmatizer.lemmatize(w) for w in text.split()])
    return text

## Download Glove

In [0]:
!wget http://nlp.stanford.edu/data/glove.840B.300d.zip

import zipfile
zip_ref = zipfile.ZipFile('glove.840B.300d.zip', 'r')
zip_ref.extractall('/content/datalab/')
zip_ref.close()

Redirecting output to ‘wget-log’.

## Preprocessing

In [0]:
import os
import re
import csv
import codecs
import numpy as np
import pandas as pd

from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from string import punctuation

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import *
from keras.layers import concatenate, CuDNNGRU
from keras.models import Model
from keras.layers.normalization import BatchNormalization
from keras.callbacks import EarlyStopping, ModelCheckpoint

import sys

In [0]:
train_df.columns

Index(['out', 'text'], dtype='object')

In [0]:
train_df['out'].astype('object', inplace=True)
train_df = pd.concat([train_df, pd.get_dummies(train_df['out'], prefix='out')], axis=1)

# train_df.drop(['out'], axis=1, inplace=True)

In [0]:
test_df['out'].astype('object', inplace=True)
test_df = pd.concat([test_df, pd.get_dummies(test_df['out'], prefix='out')], axis=1)

# test_df.drop(['out'], axis=1, inplace=True)

In [0]:
test_df.head()

   out                                               text  out_1  out_2
0    2  Contrary to other reviews, I have zero complai...      0      1
1    1  Last summer I had an appointment to get new ti...      1      0
2    2  Friendly staff, same starbucks fair you get an...      0      1
3    1  The food is good. Unfortunately the service is...      1      0
4    2  Even when we didn't have a car Filene's Baseme...      0      1

In [0]:
train_df.head()

   out                                               text  out_1  out_2
0    1  Unfortunately, the frustration of being Dr. Go...      1      0
1    2  Been going to Dr. Goldberg for over 10 years. ...      0      1
2    1  I don't know what Dr. Goldberg was like before...      1      0
3    1  I'm writing this review to give you a heads up...      1      0
4    2  All the food is great here. But the best thing...      0      1

In [0]:
import re

col_text = 'text'
list_classes = ["out_1", "out_2"]

print('Processing text dataset')

train_df[col_text] = train_df[col_text].map(lambda x: cleanData(x, stemming=False, lemmatize=False))
test_df[col_text] = test_df[col_text].map(lambda x: cleanData(x, stemming=False, lemmatize=False))

#Regex to remove all Non-Alpha Numeric and space
special_character_removal=re.compile(r'[^a-z\d ]',re.IGNORECASE)
#regex to replace all numerics
replace_numbers=re.compile(r'\d+',re.IGNORECASE)

def text_to_wordlist(text, remove_stopwords=False, stem_words=False):
    text = text.lower().split()

    # Optionally, remove stop words
    if remove_stopwords:
        stops = set(stopwords.words("english"))
        text = [w for w in text if not w in stops]
    
    text = " ".join(text)
    
    #Remove Special Characters
    text=special_character_removal.sub('',text)
    #Replace Numbers
    text=replace_numbers.sub('n',text)

    # Optionally, shorten words to their stems
    if stem_words:
        text = text.split()
        stemmer = SnowballStemmer('english')
        stemmed_words = [stemmer.stem(word) for word in text]
        text = " ".join(stemmed_words)
    
    return(text)


list_sentences_train = train_df[col_text].fillna("NA").values
y = train_df[list_classes].values
list_sentences_test = test_df[col_text].fillna("NA").values


comments = []
for text in list_sentences_train:
    comments.append(text_to_wordlist(text))
    
test_comments=[]
for text in list_sentences_test:
    test_comments.append(text_to_wordlist(text))

tokenizer = Tokenizer(num_words=MAX_NB_WORDS)
tokenizer.fit_on_texts(comments + test_comments)

sequences = tokenizer.texts_to_sequences(comments)
test_sequences = tokenizer.texts_to_sequences(test_comments)

word_index = tokenizer.word_index
print('Found %s unique tokens' % len(word_index))

data = pad_sequences(sequences, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of data tensor:', data.shape)
print('Shape of label tensor:', y.shape)

test_data = pad_sequences(test_sequences, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of test_data tensor:', test_data.shape)

Processing text dataset
Found 222821 unique tokens
Shape of data tensor: (560000, 150)
Shape of label tensor: (560000, 2)
Shape of test_data tensor: (38000, 150)

In [0]:
data_post = pad_sequences(sequences, maxlen=MAX_SEQUENCE_LENGTH,padding='post', truncating='post')
print('Shape of data tensor:', data_post.shape)
print('Shape of label tensor:', y.shape)

test_data_post = pad_sequences(test_sequences, maxlen=MAX_SEQUENCE_LENGTH, padding='post', truncating='post')
print('Shape of test_data tensor:', test_data_post.shape)

Shape of data tensor: (560000, 150)
Shape of label tensor: (560000, 2)
Shape of test_data tensor: (38000, 150)

In [0]:
print('Indexing word vectors')

count = 0
embeddings_index = {}
f = open(EMBEDDING_FILE)
for line in f:
    values = line.split()
    word = ' '.join(values[:-300])
    coefs = np.asarray(values[-300:], dtype='float32')
    embeddings_index[word] = coefs.reshape(-1)
    coef = embeddings_index[word]
f.close()

print('Found %d word vectors of glove.' % len(embeddings_index))
emb_mean,emb_std = coef.mean(), coef.std()
print(emb_mean,emb_std)

print('Total %s word vectors.' % len(embeddings_index))

Indexing word vectors
Found 2195895 word vectors of glove.
-0.01444638 0.47249147
Total 2195895 word vectors.

In [0]:
# MAX_NB_WORDS = 28662

In [0]:
print('Preparing embedding matrix')
nb_words = min(MAX_NB_WORDS, len(word_index))
embedding_matrix = np.zeros((nb_words, EMBEDDING_DIM))
for word, i in word_index.items():
    if i >= MAX_NB_WORDS:
        continue
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:
        # words not found in embedding index will be all-zeros.
        embedding_matrix[i] = embedding_vector

print('Null word embeddings: %d' % np.sum(np.sum(embedding_matrix, axis=1) == 0))

Preparing embedding matrix
Null word embeddings: 22044

In [0]:
max_features=100000
maxlen=150
embed_size=300

## Model

In [0]:
class RocAucEvaluation(Callback):
    def __init__(self, validation_data=(), interval=1):
        super(Callback, self).__init__()

        self.interval = interval
        self.X_val, self.y_val = validation_data

    def on_epoch_end(self, epoch, logs={}):
        if epoch % self.interval == 0:
            y_pred = self.model.predict(self.X_val, verbose=0)
            score = roc_auc_score(self.y_val, y_pred)
            print("\n ROC-AUC - epoch: {:d} - score: {:.6f}".format(epoch+1, score))

In [0]:
from keras.layers import K, Activation
from keras.engine import Layer
from keras.layers import Dense, Input, Embedding, Dropout, Bidirectional, GRU, Flatten, SpatialDropout1D
gru_len = 128
Routings = 5
Num_capsule = 10
Dim_capsule = 16
dropout_p = 0.25
rate_drop_dense = 0.28

def squash(x, axis=-1):
    # s_squared_norm is really small
    # s_squared_norm = K.sum(K.square(x), axis, keepdims=True) + K.epsilon()
    # scale = K.sqrt(s_squared_norm)/ (0.5 + s_squared_norm)
    # return scale * x
    s_squared_norm = K.sum(K.square(x), axis, keepdims=True)
    scale = K.sqrt(s_squared_norm + K.epsilon())
    return x / scale


# A Capsule Implement with Pure Keras
class Capsule(Layer):
    def __init__(self, num_capsule, dim_capsule, routings=3, kernel_size=(9, 1), share_weights=True,
                 activation='default', **kwargs):
        super(Capsule, self).__init__(**kwargs)
        self.num_capsule = num_capsule
        self.dim_capsule = dim_capsule
        self.routings = routings
        self.kernel_size = kernel_size
        self.share_weights = share_weights
        if activation == 'default':
            self.activation = squash
        else:
            self.activation = Activation(activation)

    def build(self, input_shape):
        super(Capsule, self).build(input_shape)
        input_dim_capsule = input_shape[-1]
        if self.share_weights:
            self.W = self.add_weight(name='capsule_kernel',
                                     shape=(1, input_dim_capsule,
                                            self.num_capsule * self.dim_capsule),
                                     # shape=self.kernel_size,
                                     initializer='glorot_uniform',
                                     trainable=True)
        else:
            input_num_capsule = input_shape[-2]
            self.W = self.add_weight(name='capsule_kernel',
                                     shape=(input_num_capsule,
                                            input_dim_capsule,
                                            self.num_capsule * self.dim_capsule),
                                     initializer='glorot_uniform',
                                     trainable=True)

    def call(self, u_vecs):
        if self.share_weights:
            u_hat_vecs = K.conv1d(u_vecs, self.W)
        else:
            u_hat_vecs = K.local_conv1d(u_vecs, self.W, [1], [1])

        batch_size = K.shape(u_vecs)[0]
        input_num_capsule = K.shape(u_vecs)[1]
        u_hat_vecs = K.reshape(u_hat_vecs, (batch_size, input_num_capsule,
                                            self.num_capsule, self.dim_capsule))
        u_hat_vecs = K.permute_dimensions(u_hat_vecs, (0, 2, 1, 3))
        # final u_hat_vecs.shape = [None, num_capsule, input_num_capsule, dim_capsule]

        b = K.zeros_like(u_hat_vecs[:, :, :, 0])  # shape = [None, num_capsule, input_num_capsule]
        for i in range(self.routings):
            b = K.permute_dimensions(b, (0, 2, 1))  # shape = [None, input_num_capsule, num_capsule]
            c = K.softmax(b)
            c = K.permute_dimensions(c, (0, 2, 1))
            b = K.permute_dimensions(b, (0, 2, 1))
            outputs = self.activation(K.batch_dot(c, u_hat_vecs, [2, 2]))
            if i < self.routings - 1:
                b = K.batch_dot(outputs, u_hat_vecs, [2, 3])

        return outputs

    def compute_output_shape(self, input_shape):
        return (None, self.num_capsule, self.dim_capsule)

In [0]:
import sys
!{sys.executable} -m pip install --upgrade keras

Collecting keras
  Downloading https://files.pythonhosted.org/packages/34/7d/b1dedde8af99bd82f20ed7e9697aac0597de3049b1f786aa2aac3b9bd4da/Keras-2.2.2-py2.py3-none-any.whl (299kB)
    100% |████████████████████████████████| 307kB 14.9MB/s
Collecting keras-applications==1.0.4 (from keras)
  Downloading https://files.pythonhosted.org/packages/54/90/8f327deaa37a71caddb59b7b4aaa9d4b3e90c0e76f8c2d1572005278ddc5/Keras_Applications-1.0.4-py2.py3-none-any.whl (43kB)
    100% |████████████████████████████████| 51kB 22.6MB/s
Requirement already satisfied, skipping upgrade: h5py in /usr/local/lib/python3.6/dist-packages (from keras) (2.8.0)
Requirement already satisfied, skipping upgrade: six>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from keras) (1.11.0)
Requirement already satisfied, skipping upgrade: pyyaml in /usr/local/lib/python3.6/dist-packages (from keras) (3.13)
Requirement already satisfied, skipping upgrade: numpy>=1.9.1 in /usr/local/lib/python3.6/dist-packages (from keras) (1.14.5)
Collecting keras-preprocessing==1.0.2 (from keras)
  Downloading https://files.pythonhosted.org/packages/71/26/1e778ebd737032749824d5cba7dbd3b0cf9234b87ab5ec79f5f0403ca7e9/Keras_Preprocessing-1.0.2-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: scipy>=0.14 in /usr/local/lib/python3.6/dist-packages (from keras) (0.19.1)
Installing collected packages: keras-applications, keras-preprocessing, keras
  Found existing installation: Keras 2.1.6
    Uninstalling Keras-2.1.6:
      Successfully uninstalled Keras-2.1.6
Successfully installed keras-2.2.2 keras-applications-1.0.4 keras-preprocessing-1.0.2

In [0]:
from keras.layers import concatenate

def get_model():
    inp1 = Input(shape=(150,))
    embed1 = Embedding(max_features, 300, input_length=150, weights=[embedding_matrix], trainable=False)(inp1)
    embed1 = SpatialDropout1D(0.4)(embed1)
    
    x1 = Bidirectional(CuDNNGRU(100, return_sequences=True))(embed1)
    capsule1 = Capsule(num_capsule=10, dim_capsule=16, routings=5,share_weights=True)(x1)
    # output_capsule1 = Lambda(lambda x: K.sqrt(K.sum(K.square(x), 2)))(capsule1)
    capsule1 = GlobalMaxPooling1D()(capsule1)
    
    inp2 = Input(shape=(150,))
    embed2 = Embedding(max_features, 300, input_length=150, weights=[embedding_matrix], trainable=False)(inp2)
    embed2 = SpatialDropout1D(0.4)(embed2)
    
    x2 = Bidirectional(CuDNNGRU(100, return_sequences=True))(embed2)
    capsule2 = Capsule(num_capsule=10, dim_capsule=16, routings=5,share_weights=True)(x2)
    # output_capsule2 = Lambda(lambda x: K.sqrt(K.sum(K.square(x), 2)))(capsule2)
    capsule2 = GlobalMaxPooling1D()(capsule2)
    
    capsule = concatenate([capsule1, capsule2])
    capsule = Dropout(0.2)(capsule)

    output = Dense(2, activation='softmax')(capsule)
    
    model = Model(inputs=[inp1, inp2], outputs=output)
    model.compile(
        loss='binary_crossentropy',
        optimizer=Adam(lr=1e-3,decay=0),
        metrics=['accuracy'])
#     model.summary()
    return model

## Train the model

In [0]:
del train_df

In [0]:
file_path="cap_yelp_p.h5"
model = get_model()
check_point = ModelCheckpoint(file_path, monitor = "val_loss", verbose = 1, save_best_only = True, mode = "min")
early_stop = EarlyStopping(monitor = "val_loss", mode = "min", patience = 5)
hist = model.fit([data, data_post], y, batch_size=256, epochs=7, verbose = 1, validation_split = 0.005, callbacks = [check_point, early_stop])
model.load_weights(file_path)
best_score = min(hist.history['val_loss'])

Train on 557200 samples, validate on 2800 samples
Epoch 1/7
557200/557200 [==============================] - 566s 1ms/step - loss: 0.2097 - acc: 0.9142 - val_loss: 0.1085 - val_acc: 0.9593

Epoch 00001: val_loss improved from inf to 0.10852, saving model to cap_yelp_p.h5
Epoch 2/7
557200/557200 [==============================] - 562s 1ms/step - loss: 0.1451 - acc: 0.9429 - val_loss: 0.0886 - val_acc: 0.9668

Epoch 00002: val_loss improved from 0.10852 to 0.08855, saving model to cap_yelp_p.h5
Epoch 3/7
557200/557200 [==============================] - 563s 1ms/step - loss: 0.1276 - acc: 0.9502 - val_loss: 0.0833 - val_acc: 0.9714

Epoch 00003: val_loss improved from 0.08855 to 0.08330, saving model to cap_yelp_p.h5
Epoch 4/7
557200/557200 [==============================] - 563s 1ms/step - loss: 0.1169 - acc: 0.9547 - val_loss: 0.0795 - val_acc: 0.9700

Epoch 00004: val_loss improved from 0.08330 to 0.07946, saving model to cap_yelp_p.h5
Epoch 5/7
557200/557200 [==============================] - 562s 1ms/step - loss: 0.1094 - acc: 0.9580 - val_loss: 0.0729 - val_acc: 0.9714

Epoch 00005: val_loss improved from 0.07946 to 0.07285, saving model to cap_yelp_p.h5
Epoch 6/7
557200/557200 [==============================] - 563s 1ms/step - loss: 0.1038 - acc: 0.9603 - val_loss: 0.0836 - val_acc: 0.9689

Epoch 00006: val_loss did not improve from 0.07285
Epoch 7/7
557200/557200 [==============================] - 564s 1ms/step - loss: 0.0991 - acc: 0.9620 - val_loss: 0.0737 - val_acc: 0.9736

Epoch 00007: val_loss did not improve from 0.07285

In [0]:
file_path="cap_yelp_p.h5"
print (file_path)
print ('Best val loss: {}'.format(best_score))
model.load_weights(file_path)

cap_yelp_p.h5
Best val loss: 0.07285125885690961

## Prediction

In [0]:
test_predicts = model.predict([test_data, test_data_post], batch_size=1024, verbose=1)

38000/38000 [==============================] - 11s 279us/step

In [0]:
pred = pd.DataFrame(test_predicts)
pred.columns = list_classes
pred.head()

      out_1     out_2
0  0.519433  0.480567
1  0.998562  0.001438
2  0.006509  0.993491
3  0.928444  0.071556
4  0.024260  0.975740

### Convert to One Hot

In [0]:
pred['outs'] = pred.idxmax(axis=1)
pred['outs'] = pred['outs'].apply(lambda x: re.sub(r"[^0-9+]", "", x))
pred.to_csv('pred_2out_classes.csv', index=False)
pred.head()

      out_1     out_2 outs
0  0.519433  0.480567    1
1  0.998562  0.001438    1
2  0.006509  0.993491    2
3  0.928444  0.071556    1
4  0.024260  0.975740    2

In [0]:
pred['outs'].astype('object', inplace=True)
pred = pd.concat([pred, pd.get_dummies(pred['outs'], prefix='outs')], axis=1)
pred.head()

      out_1     out_2 outs  outs_1  outs_2
0  0.519433  0.480567    1       1       0
1  0.998562  0.001438    1       1       0
2  0.006509  0.993491    2       0       1
3  0.928444  0.071556    1       1       0
4  0.024260  0.975740    2       0       1

## Test Accuracy

In [3]:
from sklearn.metrics import accuracy_score

acc = 0

for i in range(1, 3):
    print ('Class : {} Accuracy : {}'.format(i, accuracy_score(test_df['out_{}'.format(i)], pred['outs_{}'.format(i)])))
    acc += accuracy_score(test_df['out_{}'.format(i)], pred['outs_{}'.format(i)])

acc /= 2
print ('Mean Accuracy on Test Data: ', acc)

Class : 1 Accuracy : 0.9692315789473684
Class : 2 Accuracy : 0.9692315789473684
Mean Accuracy on Test Data:  0.9692315789473684

In [0]:
test_df.head()

   out                                               text  out_1  out_2
0    2  contrary to other reviews i have zero complain...      0      1
1    1  last summer i had an appointment to get new ti...      1      0
2    2  friendly staff same starbucks fair you get any...      0      1
3    1  the food is good unfortunately the service is ...      1      0
4    2  even when we did not have a car filene basemen...      0      1